<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<appSettings>
		<add key="ConnectionString" value="ukO+UQf2sodZ4RIqgDCqr8wFgOmXhMiSBoKkDlVbFK0wBmQLPeCeaIq9IeM8UXsS2JHeZLt/xhcwXAQPWa1tHQIxjOI4dcvrFuZg3+LUrKXrZTBSLFUhjZRmJZF9726Evg6lHpRppujHJnrt60GL0UvFKC1MM0lMZ2X2rQ3fzJ0="/>
		<add key="client_id" value="NcIxr84dGmLH6wNitGrZ"/>
		<add key="client_secret" value="b68bdc3068ab4754839f844b0525e616"/>
		<add key="encrypt_key" value="KgCgtIKtitcuSYW5"/>
		<add key="base_url" value="https://api.piaozone.com"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AttMainPortBinding"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.20.15:8990/OAAttach/main" binding="basicHttpBinding" bindingConfiguration="AttMainPortBinding" contract="OAAttachment.AttMain" name="AttMainPort"/>
		</client>
	</system.serviceModel>
</configuration>
